{# templates/article/article_details.html.twig #}
{% extends 'base.html.twig' %}


{% block body %}
  <div class="blog-post">
        <h2 class="blog-post-title">{{ article.title() }}{{ article.id() }}</h2>
        <p class="blog-post-meta">{{ article.dateCreation()|date('d M Y') }} by <a href="#"></a></p>
        <p>
            {{ contents }}
        </p>
  </div>
{% endblock %}
